.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  overflow: hidden;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.countryPopup .name {
  padding: 1px 5px;
  background: midnightblue;
  color: white;
  min-width: 40px;
}

.countryPopup .stats {
  padding: 0px 4px;
}

.countryPopup .stat {
  padding-left: 1px;
  padding-right: 4px;
}

.countryPopup .new {
  color: green;
}

.countryPopup .deleted {
  color: red;
}

.countryPopup .changed {
  color: blue;
}

#popup {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.wdpaPopup {
  font-size: 12px;
}

.paPopupListHeader {
  background: whitesmoke;
  padding: 3px;
}

.wdpaPopupListItem:hover {
  background-color: aliceblue;
}

.wdpaPopup a {
  color: unset;
  text-decoration: none;
}

.paPopupContent{
  padding:10px;
}
.paPopupChangeType {
}

.paPopupName {
  padding: 10px;
  background-color: aliceblue;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.paPopupRow {
  padding: 3px;
}

.paPopupNameLeft {}

.paPopupNameRight {
  cursor: pointer;
  padding-left: 8px;
  float: right;
  font-size:10px;
}

.paPopupHeaderRow {
  font-style: italic;
}

.changeTable {
  margin: 10px;
  font-size: 11px;
}
.ReactTable .rt-th, .ReactTable .rt-td{
  padding: 5px !important;
}
.geometryChangeDiv {
  padding: 5px 10px;
}
