.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 3px !important;
  overflow: hidden;
  cursor: pointer;
}

.countryPopup .name {
  padding: 0px 4px;
  background: midnightblue;
  color: white;
}

.countryPopup .stats {
  padding: 0px 4px;
}

.countryPopup .stat {
  padding-left:1px;
  padding-right:4px;
}

.countryPopup .new {
  color: green;
}

.countryPopup .deleted {
  color: red;
}
