.appBar {
  position: fixed;
  left: 50%;
  display: flex;
  top: 0px;
  transform: translate(-50%, 0px);
  z-index: 100000;
  border-radius: 4px !important;
  border: 1px solid lightgray;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}

.appBarPaper {}

.appBarTitle {
  padding: 7px;
  background-color: aliceblue;
  border-bottom: 1px solid lightgray;
}

.appBarContent {
  padding: 7px;
  font-size: 14px;
  background-color: white;
}

.fromVersion {
  display: inline;
  left: 0px;
}

.toVersion {
  position: absolute;
  display: inline;
  right: 10px;
}

.footerBar {
  position: fixed;
  left: 50%;
  display: flex;
  bottom: 30px;
  border-radius: 4px !important;
  border: 1px solid lightgray;
  overflow: hidden;
  transform: translate(-50%, 0px);
  z-index: 100000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;

}

.footerBarPaper {}

.footerBarTitle {
  background-color: aliceblue;
  padding: 9px 7px;
  border-right: 1px solid lightgray;
  text-align: center;
}

.footerBarContent {
  padding: 10px;
  font-size: 10px;
  background-color: white;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  overflow: hidden;
  cursor: pointer;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.countryPopup .name {
  padding: 1px 8px;
  background: aliceblue;
  min-width: 40px;
  border-bottom: 1px solid lightgray;
}

.countryPopup .stats {
  padding: 0px 4px;
}

.stat {
  padding-left: 1px;
  padding-right: 4px;
}

.added {
  color: rgb(63, 127, 191);
}

.removed {
  color: red;
}

.changed {}

#popup {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.wdpaPopup {
  font-size: 12px;
}

.paPopupListHeader {
  background: whitesmoke;
  padding: 3px;
}

.wdpaPopupListItem:hover {
  background-color: aliceblue;
}

.wdpaPopup a {
  color: unset;
  text-decoration: none;
}

.paPopupContent {
  padding: 10px;
}

.paPopupChangeType {}

.paPopupName {
  padding: 10px;
  background-color: aliceblue;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.paPopupRow {
  padding: 3px;
}

.paPopupNameLeft {}

.ppLink{
  padding-left: 8px;
  float: right;
  font-size: 10px;
}
.underline {
  cursor: pointer;
  text-decoration: underline;
}

.paPopupHeaderRow {
  font-style: italic;
}

.changeTable {
  margin: 10px;
  font-size: 11px;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 5px !important;
}

.geometryChangeDiv {
  padding: 5px 0px;
}
